<div
  style="margin-top: 38px; margin-left:  155px; background-color: white; width: 1240px; padding: 22px; font-family: 'Roboto'">
  <p style="font-size: 16px">SAMPLE</p><br><br>

  <label>
    <p>
      Project Code</p>
    <input appInput required/>
  </label>

  <label style="margin-left: 25px">
    <p>
      Project Title </p>
    <input appInput style="width: 890px;" required>
  </label><br><br><br>

  <label>
    <p>
      Description</p><br>
    <textarea appInput [cols]="152" [rows]="5"></textarea>
  </label><br><br>

  <div style="font-size: 13px">
    <label>
      <p>
        Implementation Status</p>
      <select appInput required style="width: 270px">
        <option [value]=null>-select-</option>
        <option *ngFor="let status of imp_statuses" [value]="status.id" >{{status.name}}</option>
      </select>
    </label>

    <label style="margin-left: 90px">
      <p>
        Planned Start Date </p>
      <input #p appInput type="date" [(ngModel)]="startDate" required>
    </label>

    <label style="margin-left: 50px">
      <p>
        Planned End Date </p>
      <input #pp appInput type="date" [(ngModel)]="endDate">
    </label>

    <label style="margin-left: 50px">
      <p>
        Duration </p>
      <input #pp appInput [disabled]="$any(true)" *ngIf="!pp.value"  [value]="duration">
      <!--        <button (click)="getDuration()">aa</button>-->
    </label>
  </div>
</div>
