.head{
  position: fixed;
}

button{
  margin: 3px 4px;
  width: 85px;
  height: 35px;
  padding: 3px;
}



input, select {
  height: 33px;
}

p {
  font-weight: 400;
  color: rgba(117, 117, 117, 0.866666666666667);
  font-size: 13px;
}




input.ng-touched.ng-invalid {border:solid red 1px;}
input.ng-touched.ng-valid {border:solid green 1px;}

select.ng-touched.ng-invalid {border:solid red 1px;}
/*select.ng-invalid {border:solid red 1px;}*/
select.ng-touched.ng-valid {border:solid green 1px;}

textarea.ng-touched.ng-invalid {border:solid red 1px;}
textarea.ng-touched.ng-valid {border:solid green 1px;}

